{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "transform-decorators-legacy"
    ],
    [
      "wildcard",
      {
        "exts": [
          "js",
          "es6",
          "es",
          "jsx",
          "json"
        ]
      }
    ]
  ]
}